body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}



.sheets {
    height: 30px;
    background-color: lightgray;
    display: flex;
    /* overflow-x: auto; */
}

.add-sheet_container {
    height: 100%;
    min-width: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.2rem;
    color: #393b3f;

}

.sheets_list {
    display: flex;
    height: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.sheets_list::-webkit-scrollbar {
    display: none;
}

.sheet {
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active_sheet {
    background-color: white;
    color: green;
}


.grid_container {
    height: calc(100vh - (30px + 80px + 30px + 30px));
    position: relative;
    overflow: auto;
}

.top-left-block {
    height: 30px;
    width: 25px;
    background-color: #dadce0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.top-row {
    height: 30px;
    /* background-color: rgb(140, 143, 140); */
    background-color: rgb(245, 245, 245);
    display: flex;
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 90;
}


.row {
    display: flex;
}



.col {
    min-width: 80px;
    max-width: 80px;
    /* border: 1px solid; */
    outline: 0px solid transparent;
    border: 0.1px solid rgba(169, 169, 169, 0.45);
    min-height: 30px;
    word-wrap: break-word;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    ;
}

.col::-webkit-scrollbar {
    display: none;
}

.left-col {
    width: 25px;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 90;
    background-color: #C2C3C5;
}

.grid {
    position: absolute;
    top: 30px;
    left: 25px;
}

.left-col_box {
    height: 30px;
    /* background-color: rgb(140, 143, 140); */
    border: 0.5px solid darkgray;
    background-color: rgb(245, 245, 245);
    text-align: center;
    /* border: 1px solid; */

}

/* ********************************************************************************************************* */
.menu_container {
    background-color: #F8F9FA;
    height: 80px;
    display: flex;
    align-items: center;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698); */
    /* justify-content:space-evenly; */
}

.name_container {
    background-color: #F8F9FA;
}

.filename {
    background-color: #F8F9FA;
    margin-top: 0.1rem;
    margin-left: 3.9rem;
    border: 1px solid transparent;
    border-bottom: 2px solid rgb(192, 190, 190);
    height: 26px;
    outline: none;
    line-height: 22px;
    font-size: 16px;
    border-radius: 2px !important;
    padding: 2px 7px;
    color: #00A568;

}

.logo {
    height: 80%;
    width: 80%;
}

.menu_container>* {
    height: 80%;
    width: 20%;
    border-right: 2px solid;
}

.logo-container {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.xlLogo2 {
    /* width: 9%; */
    max-width: 7em;
    height: 68%;
    margin-left: 1rem;
    padding-right: 1rem;
}

.alignment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:15%;
}

.alignment-container>* {
    width: 20%;
}

.formatting-container {
    display: flex;
    /* align-items:center; */
    justify-content: space-around;
}

.active-btn {
    /* background-color: rgb(104, 98, 98); */
    background-color: #85D1B2;
}

.subgroup {
    width: 45%;
    height: 100%;
}

.subgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .BUI_container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
} */

.subgroup>* {
    width: 100%;
    height: 34%;
}

.subgroup>* {
    width: 100%;
}

.BUI_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.nos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-file-alt,
.fa-file-upload,
.fa-save,
.fa-align-left,
.fa-align-center,
.fa-align-right {
    font-size: 20px;
}

.fas:active {
    transform: translateY(1px);
}

.open {
    width: 33.3%;
}

.new {
    width: 33.3%;
}

.save {
    width: 9.3%;
}

.BUI_container>* {
    width: 30%;

}

/* .BUI_container .fas{
    width: 30%;
} */

.color-container {
    display: flex;
    justify-content: space-between;
}

.color-container>* {
    width: 45%;
}

/* **************************************************************** */

.formula_container {
    /* background-color: rgb(209, 211, 212); */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F8F9FA;

}

.fxlogo {
    height: 20px;
    padding-right: .5rem;
}

.address-box {
    /* width: 10%; */
    height: 80%;
    width: 5%;
    text-align: center;

}

.formula-box {
    width: 85%;
}

.separator {
    width: .5%;
}

/* *********RESPONSIVE******************** */
@media (max-width: 500px) {
    div.menu_container {
        background-color: #97ACCF;
        height: 80px;
        display: flex;
        align-items: center;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698);
        /* justify-content:space-evenly; */
    }

    div.menu_container>* {
        height: 80%;
        width: 49%;
        border-right: 2px solid;
    }

    img.xlLogo {
        display: none;

    }

    div.grid_container {
        height: calc(100vh - (80px + 30px + 30px));
        position: relative;
        overflow: auto;
        /* height: 69vh; */
    }
}