body {
    margin: 0;
}

* {
    box-sizing: border-box;
}



.sheets {
    height: 30px;
    background-color: lightgray;
    display: flex;
    /* overflow-x: auto; */
}

.add-sheet_container {
    height: 100%;
    min-width: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.2rem;
    color: #393b3f;
    ;
}

.sheets_list {
    display: flex;
    height: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.sheets_list::-webkit-scrollbar {
    display: none;
}

.sheet {
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



}

.active_sheet {
    background-color: white;
    color: green;
}


.grid_container {
    height: calc(100vh - (80px + 30px + 30px));
    position: relative;
    overflow: auto;
}

.top-left-block {
    height: 30px;
    width: 25px;
    background-color: #dadce0;
}

.top-row {
    height: 30px;
    background-color: rgb(140, 143, 140);
    display: flex;
    position: absolute;
    top: 0px;
    left: 25px
}


.row {
    display: flex;
}

.col {
    width: 80px;
    border: 1px solid;
    height: 30px;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    word-wrap: break-word;
}

.col::-webkit-scrollbar {
    display: none;
}

.left-col {
    width: 25px;
}

.grid {
    position: absolute;
    top: 30px;
    left: 25px;
}

.left-col_box {
    height: 30px;
    background-color: rgb(140, 143, 140);
    text-align: center;
    border: 1px solid;
}

/* ********************************************************************************************************* */
.menu_container {
    background-color: #97ACCF;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698);
    /* justify-content:space-evenly; */
}

.menu_container>* {
    height: 80%;
    width: 20%;
    border-right: 2px solid;
}

.xlLogo {
    width: 4%;
    height: 60%;
}

.alignment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignment-container>* {
    width: 20%;
}

.formatting-container {
    display: flex;
    /* align-items:center; */
    justify-content: space-around;
}

.subgroup {
    width: 45%;
    height: 100%;
}

.subgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subgroup>* {
    width: 100%;
}

.BUI_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.BUI_container>* {
    width: 30%;

}

.color-container {
    display: flex;
    justify-content: space-between;
}

.color-container>* {
    width: 45%;
}

/* **************************************************************** */

.formula_container {
    background-color: rgb(209, 211, 212);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.address-box {
    width: 10%;

}

.formula-box {
    width: 86%;
}

.separator {
    width: 2%;
}

/* *********RESPONSIVE******************** */
@media (max-width: 500px) {
    div.menu_container {
        background-color: green;
        height: 80px;
        display: flex;
        align-items: center;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698);
        /* justify-content:space-evenly; */
    }
    div.menu_container>* {
        height: 80%;
        width: 49%;
        border-right: 2px solid;
    }
    img.xlLogo {
        display: none
    }
    div.grid_container {
        height: calc(100vh - (80px + 30px + 30px));
        position: relative;
        overflow: auto;
        /* height: 69vh; */
    }
}